{:source-paths ["src/cljc" "src/cljs" "test/cljs" "test/cljc"]
 :builds {:test {:target :karma
                 :output-to "out/test.js"
                 :ns-regexp "-test$"
                 :autorun true}}}
